<%- include('../../views/partials/admin/header') %>
<style>
  .container {
    flex-grow: 1;
  }
</style>
<div class="container mt-5 ml-5">
  <h1>Orders</h1>
  <form action="/admin/orders" method="get" class="d-flex mb-3">
    <input type="search" name="search" class="form-control me-2" id="search" placeholder="Search Customers..." value="<%= search %>">
    <button type="submit" class="btn btn-outline-danger" >Search</button>
  </form>
  <table class="table table-bordered table-striped" >
    <thead class="table-dark">
      <tr>
        <th>#</th>
        <th>OrderID</th>
        <th>UserName</th>
        <th>Date</th>
        <th>Total Amount</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% if(orders.length === 0) { %>
        <tr>
          <td class="text-center" colspan="6">No Orders available</td>
        </tr>
      <% } %>
      <% orders.forEach((item, index)=> { %>
      <tr>
        <td><%= (currentPage - 1 ) * 7 + index + 1 %></td>
        <td>#<%= item._id.toString().slice(-6) %></td>
        <td><%= item.userId.name || item.userId.email %></td>
        <td><%= item.createdAt.toDateString()  %></td>
        <td><%= item.finalAmount %></td>
        <td><%= item.status %></td> 
        <td>
          <a href="/admin/order-details/<%= item._id %>" class="text-info" title="view <%= item.userId.name %>"><i class="bi bi-eye-fill fs-5"></i></a>
        </td> 
      </tr>
      <% }); %>
    </tbody>
  </table>

  <!-- pagination -->
  <% if(totalPages > 1) { %>
    <nav>
      <ul class="pagination justify-content-center">
        <% for(let i=1; i<=totalPages; i++) { %>
          <li class="page-item <%= i=== currentPage ? 'Active' : '' %>">
            <a class="page-link" href="/admin/orders?page=<%= i %>&search=<%= search %>"><%= i %></a>
          </li>
        <% } %>
      </ul>
    </nav>
  <% } %>
</div>

      
<%- include('../../views/partials/admin/footer') %>
