

<%- include("../../views/partials/user/navbar", {user: user}) %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

<div class="container my-5 min-vh-100">
  <h3 class="mb-4 text-center">Shopping Cart</h3>


  <% if (cartItems.length === 0) { %>
    <div class="text-center">
        <img src="/images/empty-cart.png" alt="empty cart" class="mb-4" style="width: 150px; height: auto;">
        <h4 class="fw-bold">Hey, it feels so light!</h4>
         <p><%= message %></p>
    </div>
    <div class="text-center">
      <a href="/shop" class="btn btn-outline-danger mt-3">Add items to Cart</a>
    </div>
  <% } else { %>
    <form action="/checkout" method="post" id="cartForm"></form>
    <div class="row">
      <div class="col-md-8">
        <% cartItems.forEach(item => { %>
          <div class="card mb-3 shadow-sm">
            <div class="row g-0 align-items-center">
                <div class="col-md-1 text-center pt-4">
                     <input type="checkbox" name="selectedItems" value="<%= item._id %>" id="selectedItems" class="item-checkbox" checked onchange="updateSummery()" >
                </div>
              <div class="col-md-3 text-center">
                <img src="<%= item.productId.productImage[0] %>" class="img-fluid p-2" alt="<%= item.productId.name %>" style="max-height: 120px;">
              </div>
              <div class="col-md-5">
                <div class="card-body">
                  <h5 class="card-title mb-2"><%= item.productId.name %></h5>
                  <p class="mb-1">Size: <%= item.variantId.size %></p>
                  <p class="mb-1">Price: ₹<span class="subtotal"><%= item.productId.salePrice %></span></p>
                  <p class="mb-1">Subtotal: ₹<%= item.productId.salePrice * item.quantity %></p>
                  <input type="hidden" class="subtotal-value" value="<%= item.productId.salePrice * item.quantity %>">
                </div>
              </div>
              <div class="col-md-2 text-center">
                <div class="d-flex justify-content-center align-items-center gap-2">
                  <button onclick="updateQuantity('<%= item._id %>', -1)" class="btn btn-sm btn-outline-danger">-</button>
                  <span><% if(item.variantId.stockQuantity <= 3 && item.quantity > 3) {%>
                      <%= item.variantId.stockQuantity %>
                    <% } else { %>
                      <%= item.quantity %>
                    <% } %>
                   </span>
                  <button onclick="updateQuantity('<%= item._id %>', 1)" class="btn btn-sm btn-outline-success">+</button>
                </div>
              </div>
                <div class="col-md-1">
                <button onclick="removeItem('<%= item._id %>')" class="btn btn-sm btn-outline-success mt-2" title="Remove"> <i class="fas fa-trash"></i></button>
                <% console.log('Cart item ID:', item._id) %>

              </div>
            </div>
          </div>
        <% }) %>
      </div>

      <div class="col-md-4">
        <div class="card shadow-sm p-3">
          <h5 class="mb-3">Order Summary</h5>
          <p>Total selected Items: <span id="selectedCount"><%= totalItems %></span></p>
          <p><strong>Total Price: ₹<span id="selectedTotal"><%= totalAmount %></span></strong></p>
          <a href="/checkout" class="btn btn-success w-100 mt-3"><i class="bi bi-bag-check-fill p-2"></i>Proceed to Checkout</a>
        </div>
      </div>
    </div>
  <% } %>
</div>

<%- include("../../views/partials/user/footer") %>

  <!-- Bootstrap Bundle JS (includes Popper) -->
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    function updateSummery (){
        const checkbox = document.querySelectorAll('.item-checkbox')
        const subtotals = document.querySelectorAll('.subtotal-value')

        let selectedCount = 0
        let total = 0

        checkbox.forEach((cb, i)=>{
            if(cb.checked ){
                selectedCount += 1
                total += parseFloat(subtotals[i].value)
            }
        })

        document.getElementById('selectedCount').textContent = selectedCount
        document.getElementById('selectedTotal').textContent = total.toFixed(2)
    }

    window.addEventListener('load', updateSummery)

    async function removeItem(itemId){
         const confirmDelete = await confirm('are you sure want to remove this item from cart')
         if(!confirmDelete) return

         try {
            const response = await fetch(`/removeItem/${itemId}`, {
                method: 'DELETE',
                headers: {
                    'content-type': 'application/json'
                },
            })

            const result = await response.json()
            if(response.ok && result.success){
                Swal.fire({
                    icon: 'success',
                    title: 'Item removed',
                    text: 'One item is removed from the cart',
                    timer: 1200,
                    showConfirmButton: false,
                })
                .then(()=>{
                    window.location.href= '/cart'
                })

            }else{
                 Swal.fire({
                   icon: 'warning',
                   title: 'Oops',
                   text: result.message || 'Something went wrong',
                   timer: 1200,
                   showConfirmButton: false
                 })              
            }
         } catch (error) {
            console.error('Error removing item', error)
            Swal.fire({
                icon: 'error',
                title: 'Oops',
                text: error.message || 'Internal server error'
            })
         }
    }
</script>
<script>
  function updateQuantity(itemId, change){
    fetch(`/updateQuantity/${itemId}`,{
      method: 'PATCH',
      headers: {
        'content-type': 'application/json'
      },
      body: JSON.stringify({change})
    })
      .then((res)=> res.json())
      .then(data => {
        if(data.success){
          location.reload()
        }else{
          Swal.fire({
            icon: 'error',
            title: 'Oops',
            text: data.message || 'Warning!'
          })
        }
      })
      .catch(err =>{
        console.error('Error while updating quantity', err)
        Swal.fire({
          icon: 'error',
          title: 'Error',
          text: err.message || 'Something went wrong'
        })
    })
  }
</script>